# Node.js
node_modules/
.env
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Logs
logs/
*.log

# IDE / 編輯器
.vscode/
.idea/
*.swp

# 系統檔案
Thumbs.db
ehthumbs.db
*.bak

# OS
*.DS_Store
