/* Header 頂部 */
header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    width: 50px; /* Adjust logo size */
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-right: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header .mobile-menu {
    display: none;
}

/* 響應式樣式 */
@media (max-width: 500px) {
    /* Style the navigation menu */
    header {
        overflow: hidden;
        background-color: #333;
        position: relative;
        flex-direction: column;
        align-items: flex-start;
    }

    header nav ul {
        display: flex;
        flex-direction: column; /* 將項目改為垂直排列 */
    }


    header nav ul li {
        margin-right: 20px;
    }

    header nav ul li a {
        color: white;
        text-decoration: none;
        font-weight: bold;
    }

    /* Hide the links inside the navigation menu (except for logo/home) */
    header #myLinks {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #333;
    }

    /* ⭐ 這段，讓 .show 顯示出來 */
    header #myLinks.show {
        display: flex;
    }

    /* Style navigation menu links */
    header a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
        text-align: center;
    }

    /* Style the hamburger menu */
    header .mobile-menu {
        background: #333;
        display: block;
        position: absolute;
        right: 0;
        margin-right: 15px;
        /* top: 0; */
    }

    /* Add a grey background color on mouse-over */
    header a:hover {
        background-color: #ddd;
        color: black;
    }

    /* Style the active link (or home/logo) */
    .active {
        background-color: #333;
        color: white;
    }
}
