/* embed YT video  */
.video-container {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.video-container iframe {
  aspect-ratio: 16 / 9;
  width: 100%;
  max-width: 800px;
  border: none;
}
