<header>
    <div class="logo" id="toggle-theme" style="cursor: pointer;">
        <img src="/images/logo.svg" alt="Site Logo" title="窩是隻卯咪！！ 嗷嗷嗷！！">
    </div>
    <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
    <div class="mobile-menu">
        <a class="active">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <nav id="myLinks">
        <ul>
            <li><a id="home-link" href="#home">Home</a></li>
            <li><a id="about-link" href="#about">About</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
</header>