<div class="profile-card">
    <img src="/images/mikaEatingRollCake.gif" alt="卯咪！！" title="窩是隻卯咪！！ 嗷嗷嗷！！" style="width:100%">
    <h1>東方姫雪柊</h1>
    <p class="title">Computer Science Student 🐾</p>
    <p>National Taitung University</p>
    <a href="https://github.com/touhou-kiyuhi" target="_blank"><i class="fa fa-github"></i></a>
    <a href="https://x.com/kiyuhi_touhou" target="_blank"><i class="fa fa-twitter"></i></a>
    <a href="https://www.instagram.com/kiyuhi_touhou/" target="_blank"><i class="fa fa-instagram"></i></a>
    <a href="https://www.youtube.com/@%E6%9D%B1%E6%96%B9%E5%A7%AC%E9%9B%AA%E6%9F%8A" target="_blank"><i class="fa fa-youtube-play"></i></a>
    <p><button><i class="fa fa-envelope"></i> Contact</button></p>
</div>